<!-- views/partials/_header.ejs -->
<title> TinyApp </title>
<% if (user_id) { %>
  <h1> User_ID: <%= user_id %>
    <form action="/logout" method="POST" id="logout"> </form>
    <button type="submit" form="logout"> LOGOUT </button>
 </h1>
 <% } %>
