<!-- views/partials/_header.ejs -->
<title> TinyApp </title>
<% if (user) { %>
  <h3> User: <%= user.email %>
    <form action="/logout" method="POST" id="logout"> </form>
    <button type="submit" form="logout"> LOGOUT </button>
 </h3>
 <% } else { %>
    <form action="/register" method="GET" id="register"> </form>
    <button type="submit" form="register"> REGISTER </button>
    <form action="/login" method="GET" id="login"> </form>
    <button type="submit" form="login"> Log In </button>
<% } %>