<!-- views/partials/_header.ejs -->
<title> TinyApp </title>
<div class="header clearfix">

  <% if (user) { %>
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"> <form action="/logout" method="POST" id="logout">
        <a onclick="document.getElementById('logout').submit();">Log Out</a>
      </form> </li>
    </ul>
      <h3 class="text-muted"><%=user.email%></h3>
  </nav>

      <% } else { %>
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"> <form action="/register" method="GET" id="register"> </form>
          <a onclick="document.getElementById('register').submit();">Register</a>
        </li>
      </ul>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"> <form action="/login" method="GET" id="login"> </form>
          <a onclick="document.getElementById('login').submit();">Log In</a>
        </li>
      </ul>
    </nav>
  <% } %>
</div>

