<!DOCTYPE html>
<html lang='en'>
<head>
<h1>
  Login Page

    <form action="/login" method="POST">
    <p>
      <label for="email"></label>
      <input type="email" placeholder="EMAIL" name="email">
     </p>
    <p>
      <label for="password"></label>
      <input type="password" placeholder="PASSWORD" name="password">
    </p>
      <button type="submit">SUBMIT</button>
  </form>

</h1>

</head>
<body>


</body>
</html>
