<!DOCTYPE html>
<html lang='en'>
<head>
  <% include ../views/partials/_header %>
</head>
<h1>
  Not logged in. <a href="/login">Please log in </a>or<a href="/register"> Register</a>
</h1>
<body>


</body>
</html>


