<!DOCTYPE html>
<html lang='en'>
<head>
  <% include ../views/partials/_header %>
</head>
<body>

<h1> URLS INDEX </h1>
<% for(sites in urls){ %>

<form method="POST" action="/urls/<%= sites %>/delete" id="del">
</form> <form method="GET" action="/urls/<%= sites %>/" id="update">
</form>

<li> <%= sites %> =======> <%= urls[sites] %><button form="update">EDIT</button><button form="del">DELETE</button> </li> </li>
<%}%>
<ul></ul>

<a href="/urls/new"> Create a New Short Link </a>




</body>
</html>


