<!DOCTYPE html>
<html lang='en'>
<head>
  <% include ../views/partials/_header %>
</head>
<title>
  <% include ../views/partials/_header %>
</title>
<body>

<h1> Set of URLS Variable is below. URLS INDEX </h1>
<% for(sites in urls){ %>
<li> <%= sites %> </li>
<%}%>

</body>
</html>